.post-format-meta {
	text-align: center;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	height: 100%;

	.penci-wp-caption,
	.wp-caption {
		margin-bottom: 0;
	}

	.audio-iframe {
		position: absolute;
		left: 30px;
		right: 30px;
		bottom: 30px;
		display: block;

		iframe {
			max-height: 150px;
		}
	}

	&.no-thumbnail {
		.audio-iframe {
			position: static;
		}
	}

}